<template name="UserBought">
  <table>
    <tr>
      <th style="padding: 5px 10px;">Item name</th>
      <th style="padding: 5px 10px;">Was purchased for</th>
    </tr>
    {{#each Bought}}
      <tr>
        <td style="padding: 5px 10px;">{{ market_name }}</td>
        <td style="padding: 5px 10px;">{{cost}}$</td>
      </tr>
    {{/each}}
  </table>
  <button id="get-items">Get items</button>
</template>