@charset "utf-8";
/* CSS Document */
@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,400,400italic,700,700italic,800italic,800,900italic,900);

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  outline: none;
}

input {
  outline: none;
  border: none;
  padding: 0;
}

input:focus {
  outline: none;
  outline-offset: 0;
}

button {
    outline: none;
    border: none;
    padding: 0;
    background-color: none;
    font-family: 'Lato', sans-serif !important;
}

body {
    font-family: 'Lato', sans-serif;
    margin:0;
    box-sizing: border-box;
    background-color: #ebebeb;
    background: #ebebeb url('images/body-bg-1.png') top center no-repeat;
}
