<template name="UserProfile">
  <section class="main-section">
    <header>Profile page</header>
    <form>
      <label>
        <span>Trade link:</span>
        <input id="trade-link" class="trade-link" type="text" value="{{tradeLink}}" placeholder="Put trade link here">
      </label>
      {{#if tradeLinkAccepted}}
        <span>OK</span>
      {{/if}}
      {{#if warnTradeLink}}
        <span>WARNING</span>
      {{/if}}
      <a href="https://steamcommunity.com/my/tradeoffers/privacy#trade_offer_access_url" target="_blank">Get your trade link</a>
    </form>
    <div>
      <h1>Main</h1>
      {{> loginButtons}}
      <br>
      {{ Users }}
      <br>
      {{#each Users}}
        {{ username }}
      {{/each}}
    </div>
  </section>
</template>