<template name="User">
  <header class="main-header clearfix">
      <ul>
        <li><a href="/guides">Guides</a></li>
        <li><a href="/news">News</a></li>
        <li><a href="/marketplace">Marketplace</a></li>
      </ul>
  </header>
  <nav class="main-nav">
    <div class="left-panel">
       <a class="{{ isActivePath '/main' }}" href="/main">Main</a>
       <a class="{{ isActivePath '/buy' }}" href="/buy">Buy</a>
       <a class="{{ isActivePath '/sell' }}" href="/sell">Sell</a>
       <!-- <a class="{{ isActivePath '/profile' }}" href="/profile">Profile</a> -->
    </div>
    <div class="center-panel">
      <a class="main-logo" href="/">
        <img src="images/logo.png" alt="">
      </a>
    </div>
    <div class="right-panel">     
    {{#if user}}
      <div class="steam-user-profile">
        <div class="user">
          <a class="{{ isActivePath '/profile' }}" href="/profile">{{ user.profile.name }}</a>
        </div>
        <div id="user-logout" class="logout">Logout</div>
        <div class="user-photo">
          <img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/be/{{ user.profile.avatarHash }}_full.jpg" alt="">
        </div>
<!--           <div class="cache-container">
            <div class="cache">{{ wallet.cash }}$</div>
          </div>
 --><!--           <div class="avatar-container">
            <img class="avatar" src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/be/{{ user.profile.avatarHash }}.jpg" />
          </div> -->
        <!-- </div> -->
        <!-- <div id="menu" class="menu"> -->
          <!-- <div id="menu-activator" class="menu-activator"> -->
            <!-- <i class="icon fa {{ menuIcon }}"></i> -->
          <!-- </div> -->
<!--           <aside class="menu-list {{ userMenu }}">
            <a class="link {{ isActivePath '/add-funds' }}" href="/add-funds">Add funds</a>
            <a class="link {{ isActivePath '/cash-out' }}" href="/cash-out">Cash out</a>
            <a class="link {{ isActivePath '/bought' }}" href="/bought">Bought</a>
            <a class="link {{ isActivePath '/profile' }}" href="/profile">Settings</a>
            <a id="user-logout" class="link">Logout</a>
          </aside> -->
        <!-- </div> -->
      </div>
    {{else}}
      <div class="steam-login-container">
        <a id="steam-login" class="steam-login"></a>
      </div>
    {{/if}}
    </div>
  </nav>
  <div id="main-content" class="main-content">
    {{> yield "UserSection"}}
  </div>
  {{> sAlert}}
</template>

<template name="UserLogined">
  <p>Login is ok, redirected to main</p>
</template>