.main-header {
  height: 90px;
  .left-panel {
    border: 1px solid black;
    width: 125px;
    height: 100%;
    float: left;
    box-sizing: border-box;
    .main-logo {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  .right-panel {
    // width: 180px;
    height: 100%;
    float: right;
    .steam-login-container {
      height: 100%;
      width: 100%;
      overflow: hidden;
      .steam-login {
        display: block;
        height: 100%;
        width: 180px;
        opacity: 0.9;
        cursor: pointer;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url(sits_large_border.png);
        transition: opacity 0.5s ease-in-out;
        &:hover {
          opacity: 1;
        }
      }
    }
    .steam-user-profile {
      height: 100%;
      // width: 100%;
      padding-top: 5px;
      padding-left: 10px;
      padding-right: 10px;
      .top-panel {
        height: 57px;
        .cache-container {
          float: left;
          height: 100%;
          width: 50px;
          line-height: 50px;
        }
        .avatar-container {
          float: right;
          .avatar {
            height: 50px;
            width: 50px;
            margin-left: auto;
            margin-right: auto;
          }
        }
      }
      .menu {
        display: block;
        height: 30px;
        cursor: pointer;
        font-size: 20px;
        position: relative;
        .menu-activator {
          user-select: none;
          -webkit-user-select: none;
          .nick-name { }
          .icon {
            padding-left: 5px;
          }
        }
        .menu-list {
          background-color: white;
          z-index: 999;
          width: 100%;
          position: absolute;
          top: 30px;
          display: none;
          outline: 1px solid black;
          &.active {
            display: block;
          }
          .link {
            text-align: right;
            display: block;
            padding: 5px;
            outline: 1px solid black;
            &.active {
              background-color: lightgray;
            }
          }
        }
      }
    }
  }
}

.main-nav {
  height: 50px;
  border: 1px solid black;
  box-sizing: border-box;
  a {
    display: block;
    float: left;
    width: 100px;
    text-align: center;
    line-height: 48px;
    border: 1px solid black;
    box-sizing: border-box;
    &.active {
      background-color: black;
    }
  }
}

.main-nav {
    box-sizing: border-box;
    padding: 0px 55px;
    margin: 0 0 10px;
    height: 115px;
    border: none;
}

.main-content {
  // transform-style: preserve-3d;
  // perspective: 1500px;
  width: 100%;
  height: calc(~'100% - 90px - 50px');
  position: absolute;
  border: 1px solid black;
  box-sizing: border-box;
  .main-section {
    width: 100%;
    height: 100%;
/*    border: 1px solid black; */
    box-sizing: border-box;
  }
}

.main-content{
    padding-top: 10px;
    background: url(images/main-bg-1.png) top center no-repeat;
    border: none;
}

.main-header {
    width: 495px;
    margin: 0 auto;
    background: url(images/top-menu-bg.png) scroll no-repeat center top transparent;
    background-size: 98%;
    height: 60px;    
}

.main-header ul {
    padding: 0;
    list-style: none;
    width: 84%;
    margin: 0 auto;
    height: 100%;
}

.main-header ul li {
float: left;
    margin: 6px 0;}

.main-header ul li:after {
    content: '';
    background: url(images/blue-star.png) scroll no-repeat center center transparent;
    width: 16px;
    height: 16px;
    display: inline-block;
    background-size: 100%;
}

.main-header ul li:last-child:after {
    background: none;
    display: none;
}

.main-header ul li a {
text-transform: uppercase;
    color: #435662;
    text-decoration: none;
    padding: 0 19px;
    text-align: center;
    font-size: 1.31em;
    font-weight: 700;
    text-shadow: 1px 1px #fff;
    letter-spacing: -1px;
}
.main-nav .left-panel{
    background: url(images/left-knife.png) no-repeat;
    overflow: hidden;
    float: left;
    width: 420px;
    padding-left: 89px;
/*    margin-right: 50px;*/
    margin-top: 12px;
}
.center-panel{
    float: left;
}

.main-nav a {
    width: 130px;
    border:none;
}

.main-nav .left-panel a{
    color: #222;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    background: url('images/nav-menu.png') no-repeat -4px 0;
	width: 116px;
	height: 57px;
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #222;
    padding: 4px 0;
}
.main-nav .left-panel a:hover,
.main-nav .left-panel a.active{
	background-position:-131px 0;
    text-decoration: none;
    color: #fd6500;
}
.main-nav .right-panel{
    float: right;
    background: url(images/right-knife.png) no-repeat;
    width: 492px;
    position: relative;
    margin-top: 12px;
}
.steam-user-profile{
    font-size: 20px;
    color: #212121;
    height: 57px;
}
.steam-user-profile .user-photo{
    background: url(images/bg-photo-user.png) no-repeat;
    position: absolute;
    top: -17px;
    right: 72px;
    width: 80px;
    height: 93px;
}
.steam-user-profile .user-photo img {
  width: 100%;
  position: absolute;
  top: calc(50% - 1px);
  left: 50%;
  -webkit-clip-path: polygon(5px 20px, 40px 0px, 75px 20px, 75px 61px, 40px 83px, 5px 61px);
  transform: translateX(-50%) translateY(-50%);
}
.steam-user-profile .user {
  width: 215px;
  margin-left: 25px;
  text-align: center;
}
.steam-user-profile .user a{
    font-size: 20px;
    color: #212121;
}
.steam-user-profile .logout {
  width: 215px;
  margin-left: 25px;
  margin-top: 13px;
  color: #fd6500;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.steam-user-profile .logout a{
}

#steam-login {
    height: 56px;
    background: url(/images/login-btn.png) scroll no-repeat center left transparent;
    background-size: 200%;
    float: right;
    margin-right: 48px;
    width: 110px;
    margin-top: 4px;
    cursor: pointer;
}

#steam-login:active {
    background-position: center right;
}

// .content-container {
//     width: 1025px;
//     outline: none;
//     margin: 0 auto;
//     overflow: hidden;
// }
.content-container .item img{
    background: #fff;
    max-width: 100%;
    vertical-align: top;
    max-height: 93px;
    width: 100%;
}
#item p{
    background: #dedddd;
    padding: 10px 9px 18px;
    max-height: 58px;
    font-size: 15px;
    box-sizing: border-box;
}

// .content-container .inventory-container .inventory,
.content-container .pricing-container .pricing,
// .content-container .deposit-container .deposit,
// .content-container .deposit-container .deposit .content
{
    width: 100%;
}

.grey-bg {
    background: #383737;
}
.grey-bg:after, .content-container .pricing-container .pricing .calc label div:after {
    content: '';
    display: block;
    clear: both;
}

