<template name="AddFunds">
  <form name="add-funds">
    <p>Total: {{ amount }}$</p>
    <p>
      <button name="undo-amount" disabled={{ isCanBeUndo }}>
        Undo
      </button>
      <button name="clear-amount" disabled={{ isCanBeClear }}>
        Clear
      </button>
    </p>
    <p>
      {{#each preciseAmount }}
        <button name="precise-amount">{{ title }}</button>
      {{/each}}
    </p>
    <p>
      <button name="build-paypal" disabled={{ isPossible }}>
        Paypal
      </button>
    </p>
  </form>
</template>