<template name="UserBuy">
  <div class="buy">
    <form id="buy-filter" class="filters">
      <div class="field search-container">
        <div class="search">
          <label class="search-label">
            <input id="buy-search" class="search-input" name="search" type="text" value={{ search }} autocomplete="off" />
          </label>
          <span id="reset-search" class="cancel-icon">X</span>
        </div>
      </div>
      <fieldset id="type-checkbox" class="field type">
        <legend class="title">Type:&nbsp;</legend>
        <label class="type-button">
          <input name="type" type="checkbox" value="knife" />
          <span>Knife</span>
        </label>
        <label class="type-button">
          <input name="type" type="checkbox" value="pistol" />
          <span>Pistol</span>
        </label>
        <label class="type-button">
          <input name="type" type="checkbox" value="sniper rifle" />
          <span>Sniper Rifle</span>
        </label>
        <label class="type-button">
          <input name="type" type="checkbox" value="shotgun" />
          <span>Shotgun</span>
        </label>
        <label class="type-button">
          <input name="type" type="checkbox" value="smg" />
          <span>SMG</span>
        </label>
        <label class="type-button">
          <input name="type" type="checkbox" value="machinegun" />
          <span>Machinegun</span>
        </label>
        <label class="type-button">
          <input name="type" type="checkbox" value="container" />
          <span>Container</span>
        </label>
        <label class="type-button">
          <input name="type" type="checkbox" value="key" />
          <span>Key</span>
        </label>
        <label class="type-button">
          <input name="type" type="checkbox" value="sticker" />
          <span>Sticker</span>
        </label>
      </fieldset>
      <fieldset class="field grade">
        <legend class="title">Grade:&nbsp;</legend>
        <label class="grade-button">
          <input name="grade" type="checkbox" />
          <span>Consumer grade</span>
        </label>
        <label class="grade-button">
          <input name="grade" type="checkbox" />
          <span>Industrial grade</span>
        </label>
        <label class="grade-button">
          <input name="grade" type="checkbox" />
          <span>Mil-spec</span>
        </label>
        <label class="grade-button">
          <input name="grade" type="checkbox" />
          <span>Restricted</span>
        </label>
        <label class="grade-button">
          <input name="grade" type="checkbox" />
          <span>Classified</span>
        </label>
        <label class="grade-button">
          <input name="grade" type="checkbox" />
          <span>Covert</span>
        </label>
        <label class="grade-button">
          <input name="grade" type="checkbox" />
          <span>Exceedingly Rare ★</span>
        </label>
      </fieldset>
      <div class="field">
        <label class="cost-range">
          <span>Cost:&nbsp;</span>
          <br>
          <br>
          <div id="slider"></div>
          <br>
          <span>Min cost:&nbsp;{{ costMin }}</span>
          <span>Max cost:&nbsp;{{ costMax }}</span>
        </label>
      </div>
    </form>
    <div id="buy-list" class="list">
      <div class="items">
        {{#each SellItems}}
        <div class="page clearfix">
          {{#each column}}
            <div class="item">
              <p>{{ id }}</p>
              <p>{{ market_name }}</p>
              <p>{{ type }}</p>
              <img src="https://steamcommunity-a.akamaihd.net/economy/image/{{icon_url}}/256fx256f">
              <p>Cost: {{ cost }}$</p>
              <button id="quick-buy" class="quick-buy">Quick buy</button>&nbsp;
              <button>To basket</button>
            </div>
          {{/each}}
          </div>
        {{/each}}
      </div>
    </div>
    <div class="navigation">
      <div id="more" class="more {{ more }}">. . .</div>
      <div class="pagination">
        <span>{{ shows }} of {{ total }}</span>
      </div>
    </div>
  </div>
</template>