.buy {
  // display: table;
  width: 100%;
  height: 100%;
  outline: 1px solid black;
  .filters {
    position: absolute;
    z-index: 1;
    // display: table-cell;
    // position: fixed;
    outline: 1px solid black;
    @media (max-width: 1400px) {
      width: 300px;
    }
    @media (min-width: 1400px) {
      width: 350px;
    }
    .field {
      outline: 1px solid black;
      &.search-container {
        height: 35px;
        outline: 1px solid black;
        .search {
          display: table;
          height: 100%;
          width: 100%;
          outline: 1px solid black;
          .search-label {
            display: table-cell;
            outline: 1px solid black;
            .search-input {
              display: block;
              width: 100%;
              height: 100%;
              font-size: 15px;
              outline: 1px solid black;
            }
          }
          .cancel-icon {
            display: table-cell;
            width: 50px;
            cursor: pointer;
            outline: 1px solid black;
          }
        }
      }
      &.grade {
        border: 0;
        margin-left: 0;
        margin-right: 0;
        padding: 0;
        outline: 1px solid black;
        .title {
          padding-left: 0;
          padding-right: 0;
        }
        .grade-button {
          // display: block;
          cursor: pointer;
          user-select: none;
          -webkit-user-select: none;
          height: 35px;
          line-height: 35px;
        }
      }
      &.type {
        border: 0;
        margin-left: 0;
        margin-right: 0;
        padding: 0;
        outline: 1px solid black;
        .title {
          padding-left: 0;
          padding-right: 0;
        }
        .type-button {
          // display: block;
          cursor: pointer;
          user-select: none;
          -webkit-user-select: none;
          height: 35px;
          line-height: 35px;
        }
      }
      .cost-range {
        padding-left: 30px;
        padding-right: 30px;
        display: block;
      }
    }
  }
  .list {
    // display: table-cell;
    // vertical-align: middle;
    position: relative;
    // padding-bottom: 50px;
    padding-left: 300px;
    min-height: calc(~'100% - 50px');
    outline: 1px solid black;
    .items {
      display: table;
      margin-left: auto;
      margin-right: auto;
      outline: 1px solid black;
      .page {
        width: 600px;
        // height: 600px;
        overflow: hidden;
        outline: 1px solid black;
        .item {
          float: left;
          width: 300px;
          height: 400px;
          overflow: hidden;
          outline: 1px solid black;
          .quick-buy {
            padding: 10px;
            cursor: pointer;
          }
        }
      }
    }
  }
  .navigation {
    height: 50px;
    display: table;
    width: 100%;
    // position: absolute;
    // bottom: 0;
    outline: 1px solid black;
    .more {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      outline: 1px solid black;
      cursor: pointer;
      &.passive {
        display: none;
      }
    }
    .pagination {
      width: 150px;
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      outline: 1px solid black;
    }
  }
}