<template name="CashOut">
  <form name="cash-out">
    <label>
      <span>Paypal account email:</span>
      <input id="payout-email" type="email" autocomplete="on" value={{ payoutEmail }} />
    </label>
    <label>
      <span>Cash out:</span>
      <input id="payout-amount" type="number" min="5" step="0.01" autocomplete="off" value={{ payoutAmount }} />
      <span>+ 0.25$ per paypal fees.</span>
    </label>
    <button id="payout-button" disabled={{ disabled }}>Paypal payout</button>
  </form>
</template>