<template name="UserMain">
  <section class="main-section">
    <h1>Main</h1>
    {{> loginButtons}}
    <br>
    {{ Users }}
    <br>
    {{#each Users}}
      {{ username }}
    {{/each}}
  </section>
</template>