<template name="UserSellPricingItem">
  <article class="pricing-container">
    <div class="pricing">
      <header class="header">
        <h3>Price Your item</h3>
      </header>
<!--       <div class="item-container">
        {{#if exist}}
          <div class="item">
            <div id="cancel" class="cancel">cancel</div>
            <header class="name">{{ item.name }}</header>
            <img class="icon" src="https://steamcommunity-a.akamaihd.net/economy/image/{{ item.icon_url }}/256fx256f">
          </div>
        {{/if}}
      </div>
      <form id="calc" class="calc" action="javascript:void(0);">
        <label class="clearfix">
            <div>            
                <span>Sell Price, $:</span>
                <input id="cost" type="number" min="0" step="0.01" value={{cost}} disabled={{price}} />
            </div>
        </label>
        <label class="clearfix">
            <div class="grey-bg">
                <span>Our cut, 10%:</span>
                <input id="our-cut" type="text" value="{{our}}" readonly>
            </div>
        </label>
        <label class="clearfix">
            <div>            
                <span>Your cut:</span>
                <input id="your-cut" type="text" value="{{user}}" readonly>
            </div>
        </label>
        <button id="deposit" disabled={{deposit}}>Place Item In Queue</button>
      </form> -->
    </div>
  </article>
</template>