.content-container {
  .pricing-container {
    display: table-cell;
    width: 300px;
    height: 100%;
    vertical-align: top;
/*    outline: 1px solid black; */
    .pricing {
      .header {
        height: 40px;
        text-align: center;
/*        outline: 1px solid black; */
      }
      .item-container {
/*        outline: 1px solid black; */
        @media (max-height: 700px) {
          height: 200px;
        }
        @media (min-height: 700px) {
          height: 300px;
        }
        .item {
          height: inherit;
          position: relative;
          .name {
            height: 30px;
            font-size: 19px;
            line-height: 30px;
            text-align: center;
/*            outline: 1px solid black; */
          }
          .icon {
            display: block;
            margin-left: auto;
            margin-right: auto;
/*            outline: 1px solid black; */
            user-select: none;
            -webkit-user-select: none;
            @media (max-height: 700px) {
              width: calc(~"200px - 30px");
              height: calc(~"200px - 30px");
            }
            @media (min-height: 700px) {
              width: calc(~"300px - 30px");
              height: calc(~"300px - 30px");
            }
          }
          .cancel {
            width: 85px;
            height: 50px;
            position: absolute;
            left: 15px;
            bottom: 15px;
            cursor: pointer;
/*            outline: 1px solid black; */
          }
        }
      }
      .calc {
        width: 100%;
/*        outline: 1px solid black; */
        outline: none;
        margin-top: -2px;
        background: #222;
        label {
            width: 100%;
            display: block;
            /* outline: 1px solid black; */
            outline: none;
            background: #222;
            font-size: 20px;
            color: #dcdbd0;
            padding: 5px 0;
          span {
            display: block;
            float: left;
            height: 100%;
/*            outline: 1px solid black; */
          }
          input {
/*            float: right; */
            height: 100%;
            /* outline: 1px solid black; */
            outline: none;
            width: 40%;
            padding-left: 10px;
            background: #222;
            font-size: 20px;
            color: #fd6500;
            float: right;
            text-align: right;
            padding-right: 5px;
          }
        }
        button {
            border: 2px solid #f26c4f;
            background-color: #ffbc01;
            background: linear-gradient(to bottom, #ffd320 0%,#ff9d20 100%);
            font-weight: bold;
            font-size: 20px;
            color: #222;
            padding: 14px 0px;
            border-top: none;
            text-align: center;
            width: 100%;
        }
      }
    }
  }
}

.content-container .pricing-container .pricing .calc button {
    font-family: 'Lato', sans-serif;
}
.content-container .pricing-container .pricing .calc label div {
    padding: 5px 0;
    margin: 0 5px;
}
.content-container .pricing-container .pricing .calc label .grey-bg input {
    background: #383737;
}
.grey-bg {
    background: #383737;
}
.grey-bg:after, .content-container .pricing-container .pricing .calc label div:after {
    content: '';
    display: block;
    clear: both;
}

.content-container .pricing-container .pricing .item-container .item .name {
    border-right: 1px solid #cfcfcf;
    border-left: 1px solid #cfcfcf;
    border-top: 1px solid #cfcfcf;
}

.content-container .pricing-container .pricing .item-container .item .icon {
    width: 99%;
    border-left: 1px solid #cfcfcf;
    border-right: 1px solid #cfcfcf;
}
.content-container .pricing-container {
    // width: 240px;
}
