<template name="UserSell">
  <section class="main-section">
    <div class="content-container">
      {{> UserSellInventory}}
      {{> UserSellPricingItem}}
      {{> UserSellDeposit}}
    </div>
  </section>
</template>