<template name="UserSellInventory">
  <article class="inventory-container">
    <div class="inventory">
      <div class="content">
        <header class="header">
          <h3>Your Backpack</h3>
        </header>
        <form class="search">
          <div class="search clearfix">
            <label class="label">
              <input id="search" class="input" name="search" type="text" value="{{ search }}" autocomplete="off" />
              {{#if clear}}
                <span id="clear" class="clear">X</span>
              {{/if}}
            </label>
            <span id="refresh" class="refresh">
              Refresh
            </span>
          </div>
        </form>
<!--         <div class="columns-container">
          <div class="columns clearfix" style="left: {{ left }}px;">
            {{#each inventory}}
              <div id="inventory-column" class="column clearfix">
                {{#each column}}
                  <div id="item" class="item">
                    <p>{{ name }}</p>
                    <img src="https://steamcommunity-a.akamaihd.net/economy/image/{{icon_url}}/128fx128f">
                  </div>
                {{/each}}
                <div class="column-support"></div>
              </div>
            {{/each}}
          </div>
        </div>
        <div class="pagination-container">
          {{#if multiple}}
            <div class="pagination">
                <div class="arrow-container left">
                    <div id="prev" class="arrow">
                      prev
                    </div>
                </div>
              <span>{{currentColumn}}</span>&nbsp;of&nbsp;<span>{{columns}}</span>
            <div class="arrow-container right">
              {{#if multiple}}
                <div id="next" class="arrow">
                  next
                </div>
              {{/if}}
            </div>
            </div>
          {{/if}}
        </div> -->
      </div>
    </div>
  </article>
</template>