<template name="UserSellDeposit">
  <article class="deposit-container">
    <div class="deposit">
<!--       <div class="arrow-container left">
        {{#if multiple}}
          <div id="prev" class="arrow">
            prev
          </div>
        {{/if}}
      </div> -->
      <div class="content">
        <header class="header">
          <h3>Sale items in deposit</h3>
        </header>
<!--         <div class="columns clearfix" style="left: {{ left }}px;">
          {{#each Deposit}}
            <div id="deposit-column" class="column clearfix">
              {{#each column}}
                <div class="item">
                  <p>{{ id }}</p>
                  <p>{{ name }}</p>
                  <img src="https://steamcommunity-a.akamaihd.net/economy/image/{{icon_url}}/128fx128f">
                  <p>cost: {{ price.cost }}$</p>
                  <button id="remove">Remove</button>
                </div>
              {{/each}}
              <div class="column-support"></div>
            </div>
          {{/each}}
        </div>
        <div class="navigation">
          <button id="deposit" disabled={{ deposit }}>Deposit items</button>
          <label class="confirm">
            <input id="confirm" type="checkbox" checked={{ confirmed }} disabled={{ confirm }} />
            <span>I confirm</span>
          </label>
        </div>
        <div class="pagination-container">
          {{#if multiple}}
            <div class="pagination">
              <span>{{currentColumn}}</span>&nbsp;of&nbsp;<span>{{columns}}</span>
            </div>
          {{/if}}
        </div> -->
      </div>
<!--       <div class="arrow-container right">
        {{#if multiple}}
          <div id="next" class="arrow">
            next
          </div>
        {{/if}}
      </div> -->
    </div>
  </article>
</template>