.content-container {
  .inventory-container {
    display: table-cell;
    vertical-align: top;
    height: 100%;
/*    outline: 1px solid black; */
    .inventory {
      @tab: 200px;
      @arrow: 50px;
      margin-left: auto;
      margin-right: auto;
      position: relative;
/*      outline: 1px solid black; */
      @media (max-width: 1400px) {
        width: @tab*2+@arrow*2;
      }
      @media (min-width: 1400px) and (max-width: 1800px) {
        width: @tab*3+@arrow*2;
      }
      @media (min-width: 1800px) {
        width: @tab*4+@arrow*2;
      }
      .content {
/*        margin-left: 50px;
        margin-right: 50px; */
        overflow: hidden;
/*        outline: 1px solid black; */
        @media (max-width: 1400px) {
          width: @tab*2;
        }
        @media (min-width: 1400px) and (max-width: 1800px) {
          width: @tab*3;
        }
        @media (min-width: 1800px) {
          width: @tab*4;
        }
        .header {
          width: 100%;
          height: 40px;
          text-align: center;
/*          outline: 1px solid black; */
        }
        .search {
          width: 100%;
          height: 35px;
/*          outline: 1px solid black; */
          .search {
            height: 100%;
            width: 90%;
            display: table;
/*            outline: 1px solid black; */
            .label {
              display: table-cell;
              position: relative;
/*              outline: 1px solid black; */
              .input {
                height: 100%;
                width: 100%;
                font-size: 15px;
                padding: 5px;
/*                outline: 1px solid black; */
              }
              .clear {
                @size: 21px;
                display: block;
                position: absolute;
                height: @size;
                width: @size;
                right: 15px;
                top: calc((35px - @size) / 2);
                text-align: center;
                line-height: @size;
                user-select: none;
                -webkit-user-select: none;
                cursor: pointer;
/*                outline: 1px solid black; */
                .passive {
                  opacity: 0;
                }
              }
            }
            .refresh {
              display: table-cell;
              height: 100%;
              cursor: pointer;
              user-select: none;
              -webkit-user-select: none;
/*              outline: 1px solid black; */
            }
          }
        }
        .columns-container {
          overflow: hidden;
          min-height:500px;
          @row: 150px;
          @media (max-width: 1400px) {
            width: @tab*2;
          }
          @media (min-width: 1400px) and (max-width: 1800px) {
            width: @tab*3;
          }
          @media (min-width: 1800px) {
            width: @tab*4;
          }
          @media (max-height: 700px) {
            height: @row*2;
          }
          @media (min-height: 700px) and (max-height: 850px) {
            height: @row*3;
          }
          @media (min-height: 850px) and (max-height: 1000px) {
            height: @row*4;
          }
          @media (min-height: 1000px) and (max-height: 1150px) {
            height: @row*5;
          }
          @media (min-height: 1150px) and (max-height: 1300px) {
            height: @row*6;
          }
          @media (min-height: 1300px) {
            height: @row*7;
          }
          .columns {
            display: table;
            width: inherit;
            height: inherit;
            position: relative;
            left: 0px;
            transition: left 0.15s ease-out;
/*            outline: 1px solid black; */
            .column {
              display: table-cell;
              vertical-align: top;
              text-align: left;
              height: inherit;
              @media (max-width: 1400px) {
                width: @tab*2;
              }
              @media (min-width: 1400px) and (max-width: 1800px) {
                width: @tab*3;
              }
              @media (min-width: 1800px) {
                width: @tab*4;
              }
/*              outline: 1px solid black; */
              .item {
                float: left;
                width: @tab;
                height: @row;
                cursor: pointer;
/*                outline: 1px solid black; */
              }
              .column-support {
                @media (max-width: 1400px) {
                  width: @tab*2;
                }
                @media (min-width: 1400px) and (max-width: 1800px) {
                  width: @tab*3;
                }
                @media (min-width: 1800px) {
                  width: @tab*4;
                }
              }
            }
          }
        }
        .pagination-container {
          width: 100%;
          height: 25px;
          position: relative;
/*          outline: 1px solid black; */
          .pagination {
            position: absolute;
            left: 0; right: 0; top: 0; bottom: 0;
/*            outline: 1px solid black; */
          }
        }
      }
      .arrow-container {
        position: absolute;
        top: 0;
        width: @arrow;
        height: 100%;
/*        outline: 1px solid black; */
        &.left {
          left: 0;
        }
        &.right {
          right: 0;
        }
        .arrow {
          width: 100%;
          height: 100%;
          cursor: pointer;
          user-select: none;
          -webkit-user-select: none;
/*          outline: 1px solid black; */
        }
      }
    }
  }
}

.content-container .inventory-container .inventory .arrow-container {
  position: absolute;
  top: 0;
    outline: none;
        font-size: 34px;
}

.content-container .inventory-container .inventory .content form.search{
    background: #222;
    color: #ffbe00;
    text-align: right;
    padding: 8px 19px;
    margin: 0px;
}
.content-container .inventory-container .inventory .content .search .fa-refresh{
    font-size: 20px;
    padding-left: 7px;
}
.content-container .inventory-container .inventory .content .columns-container .columns .column .item{
    width:125px;
    padding-right: 3px;
    padding-bottom: 3px;
}
.content-container .inventory-container .inventory .content .columns-container .columns .column .item:last-child{
    padding: 0px;
}
.content-container .inventory-container .inventory .content .columns-container{
    background: #222;
    padding: 0 3px;
}
.content-container .inventory-container .inventory {
    // margin-right: 7px;
}