.content-container {
  .deposit-container {
    display: table-cell;
/*    vertical-align: middle; */
    // min-width: 392px;
    height: 100%;
/*    outline: 1px solid black; */
    .deposit {
      @tab: 150px;
      @arrow: 50px;
      margin-left: auto;
      margin-right: auto;
      position: relative;
/*      outline: 1px solid black; */
      @media (max-width: 1400px) {
        width: @tab*2+@arrow*2;
      }
      @media (min-width: 1400px) and (max-width: 1800px) {
        width: @tab*3+@arrow*2;
      }
      @media (min-width: 1800px) {
        width: @tab*4+@arrow*2;
      }
      .content {
        margin-left: 50px;
        margin-right: 50px;
        overflow: hidden;
/*        outline: 1px solid black; */
        @media (max-width: 1400px) {
          width: @tab*2;
        }
        @media (min-width: 1400px) and (max-width: 1800px) {
          width: @tab*3;
        }
        @media (min-width: 1800px) {
          width: @tab*4;
        }
        .header {
          width: 100%;
          height: 40px;
          text-align: center;
/*          outline: 1px solid black; */
        }
        .columns {
          display: table;
          width: inherit;
          height: inherit;
          position: relative;
          left: 0px;
          overflow: hidden;
          width: 100%;
          background-color: #222;
          min-height: 500px;
          transition: left 0.15s ease-out;
/*          outline: 1px solid black; */
          @row: 150px;
          /*
          @media (max-width: 1400px) {
            width: @tab*2;
          }
          @media (min-width: 1400px) and (max-width: 1800px) {
            width: @tab*3;
          }
          @media (min-width: 1800px) {
            width: @tab*4;
          }
          @media (max-height: 700px) {
            height: @row*2;
          }
          @media (min-height: 700px) and (max-height: 850px) {
            height: @row*3;
          }
          @media (min-height: 850px) and (max-height: 1000px) {
            height: @row*4;
          }
          @media (min-height: 1000px) and (max-height: 1150px) {
            height: @row*5;
          }
          @media (min-height: 1150px) and (max-height: 1300px) {
            height: @row*6;
          }
          @media (min-height: 1300px) {
            height: @row*7;
          }
          */
          .column {
            display: table-cell;
            vertical-align: top;
            text-align: left;
            height: inherit;
            @media (max-width: 1400px) {
              width: @tab*2;
            }
            @media (min-width: 1400px) and (max-width: 1800px) {
              width: @tab*3;
            }
            @media (min-width: 1800px) {
              width: @tab*4;
            }
            outline: 1px solid black;
            .item {
              float: left;
              width: @tab;
              height: @row;
/*              outline: 1px solid black; */
            }
            .column-support {
              @media (max-width: 1400px) {
                width: @tab*2;
              }
              @media (min-width: 1400px) and (max-width: 1800px) {
                width: @tab*3;
              }
              @media (min-width: 1800px) {
                width: @tab*4;
              }
            }
          }
        }
        .pagination-container {
          width: 100%;
          height: 25px;
          position: relative;
/*          outline: 1px solid black; */
          .pagination {
            position: absolute;
            left: 0; right: 0; top: 0; bottom: 0;
            outline: 1px solid black;
          }
        }
        .navigation {
            height: 100%;
            width: 100%;
            background: #222;
        }
      }
      .arrow-container {
        position: absolute;
        top: 0;
        width: @arrow;
        height: 100%;
/*        outline: 1px solid black;  */
        &.left {
          left: 0;
        }
        &.right {
          right: 0;
        }
        .arrow {
          width: 100%;
          height: 100%;
          cursor: pointer;
          user-select: none;
          -webkit-user-select: none;
/*          outline: 1px solid black; */
        }
      }
    }
  }
}

.navigation #deposit{
    color: #ffbe00;
    font-size: 15px;
    font-weight: bold;
    background: #222;
    border: none;
    padding: 13px 12px;
}
.navigation .confirm{
    background: #ffbe00;
    color: #222;
    font-size: 15px;
    font-weight: bold;
    padding: 13px 22px;
    border: none;
    text-transform: uppercase;
}
.content-container .deposit-container .deposit {
    // margin-left: 4px;
}
.content-container .deposit-container .deposit .content {
    // margin-left: 0;
}